.contenedorBarraPerfil {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    justify-content: space-around;
    position: sticky;
    top: 0;
    bottom: 0;
    // background-color: white;
    .imgLogo {
        border-radius: 10px;
    }
    .userShop {
        display: flex;
        gap: 15px;
        margin: 30px;
        align-items: center;

        button {
            background: none;
            border: none;
            width: 35px;
            height: 30px;
            cursor: pointer;
            font-size: 20px;
        }
        button:hover {
            background: #e5e4e4;
            border-radius: 20px;
        }
    }
    .buscador {
        border: #e5e4e4 solid 1px;
        display: flex;
        background: transparent;
        border-radius: 20px;
        padding: 10px;
        width: 100%;
        input {
            border: none;
            width: 100%;
        }
    }
}
@media (max-width: 600px) {
    .contenedorPerfil {
        display: grid;
        // grid-template-columns: repeat(400px, );
        width: 100%;
        margin: 0 auto;
        max-width: 500px;

        .post {
            display: flex;
            flex-direction: column;
        }
    }
}
@media (max-width: 375px) {
    .contenedorSugerencias {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .sugerencias {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}
// @media (max-width: 650px) {
//     .carrito-Drop {
//         display: flex;
//         flex-direction: column;
//         width: 100%;

//     }
// }

.contenedorPrincipal {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;

    .contenedorSugerencias {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
        margin-top: 45px;
        margin: 0;
        width: 100%;
        gap: 15px;

        .sugerencias {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            width: 100%;
            border-radius: 15px;
            cursor: pointer;
            margin-top: 15px;

            &:hover {
                box-shadow: 2px 6px 6px;
                transition: all 0.2s;
                color: #353535;
            }
            
            .price {
                font-size: 18px;
                padding: 1px 10px;
            }

            img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    table {
        border: 1px solid #d8d8d8;
        width: 100%;
        max-width: 600px;
        gap: 10px;

        tr {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        td {
            font-size: 18px;
        }
    }
    .caracteristicas {
        background-color: #dedede66;
        padding: 15px 30px 15px 15px;
        margin: 0;
        width: 100px;
    }
    .post {
        display: flex;
        gap: 30px;
        width: 100%;
        margin-top: 20px;

        .namePrice {
            display: flex;
            flex-direction: column;
            width: 100%;

            h2 {
                font-size: 21px;
                margin: 0px;
                display: block;
                font-weight: 500; //La propiedad font-weight de CSS especifica el peso o grueso de la letra
                width: 100%;
            }

            h1 {
                font-size: 28px;
                font-family: "Space Mono", sans-serif, roboto;
                width: 100%;
            }
            .carrito-Drop {
                display: flex;
                gap: 15px;
                align-items: center;
                width: 100%;

                select {
                    padding: 9px 14px;
                    cursor: pointer;
                    border-radius: 15px;
                    border: 2px solid black;
                    max-width: 130px;
                    height: 45px;
                    width: 100%;

                    &:hover {
                        background-color: gainsboro;
                        transition: all 0.4s;
                    }
                }
                button {
                    padding: 12px 25px;
                    background-color: #7c4dff;
                    color: white;
                    border-radius: 15px;
                    cursor: pointer;
                    width: 100%;
                    max-width: 160px;
                    height: 49px;

                    &:hover {
                        background-color: #6543c2;
                        transition: all 0.2s;
                    }
                }
            }
        }
        img {
            border: black solid 1.5px;
            width: 100%;
            max-width: 412px;
            height: 412px;
            object-fit: cover;
        }
    }
}
