.contenedorProductoCategoria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    .productoCategoria {
        display: flex;
        flex-direction: column;
        border: #e5e4e4 solid 1px;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        width: 100%;
        margin-top: 20px;
        img {
            width: 100%;
            height: 248px;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    .productoCategoria:hover {
        box-shadow: 2px 6px 6px;
        transition: all 0.2s;
        color: #353535;
    }
}
