.carritoCompras {
    margin: 10px;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 6px 8px 7px;
    // background-color: rgb(222, 222, 222);

    .contenedorProducts {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        .imgCarrito {
            width: 100%;
            max-width: 80px;
            border-radius: 10px;
            object-fit: cover;
        }
    }
    .btnEliminar {
        margin-left: auto;

        button {
            background-color: none;
            border: none;
            padding: 10px;
            border-radius: 15px;
            &:hover {
                background-color: rgb(219, 218, 218);
                cursor: pointer;
            }
        }
    }
    .btnCompra {
        margin-top: 10px;
        button {
            width: 100%;
            background-color: rgb(41, 98, 255);
            color: white;
            border-radius: 10px;
            padding: 7px 14px;
            border: none;
            
            &:hover{
                background-color: rgb(43, 84, 197);
                border-radius: 10px;
    
            }
        }
    }
    .resumen-pago {
        span {
            font-weight: 200;
            font-size: 17px;
        }
    }
    .contenedorBarraPerfil{
        margin: 0 auto;
        max-width: 2000px;
        width: 100%;
    }
}
